@font-face {
  font-family: 'Helvetica Neue';
  src: url(./assets/fonts/Helvetica-Neue-LT-Com-55-Roman.ttf);
}

/* ------------------------- COLOR VARIABLES -------------------------------- */
:root {
  --primary: #888888;
  --secondary: #ffffff;
  --bg-color: #707070;
  --error: #cf3333;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
  color: var(--primary);
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
}

.page-container {
  margin: 0 auto;
  width: 920px;
}

/*  -------------------- BACKGROUND ELEMENTS -------------------------------- */
.bg-header {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 399px;
  background: var(--bg-color);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}

.bg-footer {
  position: absolute;
  z-index: -1;
  bottom: 0px;
  right: 0;
  width: 100%;
  height: 293px;
  background: var(--bg-color);
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
}

/*  ------------------------- GENERAL STYLES -------------------------------- */
.color-white {
  color: var(--secondary);
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 12px;
  line-height: 18px;
}

.text-md {
  font-size: 14px;
}

.text-lg {
  font-size: 20px;
}

.btn {
  padding-top: 6px;
  width: 100%;
  max-width: 340px;
  height: 39px;
  background-color: var(--secondary);
  border: 1px solid var(--bg-color);
  border-radius: 4px;
  font-size: 16px;
  transition: 300ms;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary);
  color: var(--secondary);
  transition: 300ms;
}

.section-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.section-divider hr {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.section-divider h3 {
  background-color: var(--secondary);
  padding: 17px 10px;
  font-size: 18px;
}
/*  ----------------------------- FORM -------------------------------------- */
label {
  display: block;
  font-size: 12px;
  margin-bottom: 7px;
}

.input-text {
  width: 340px;
  height: 30px;
}

.error {
  display: block;
  font-size: 12px;
  color: var(--error);
  margin-bottom: 8px;
}

/*  ---------------------------- HEADER ------------------------------------- */
header {
  padding-top: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.header-wrapper {
  margin-bottom: 30px;
}

.header-wrapper h1{
  font-size: 40px;
  margin-bottom: 20px;
}


nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 160px;
  height: 40px;
  padding-top: 6px;
  background-color: var(--secondary);
  border: 1px solid var(--bg-color);
  border-radius: 4px;
  box-shadow: 0px 1px 6px #00000029;
  text-decoration: none;
  font-size: 14px;
  transition: 300ms;
}

nav a:hover {
  opacity: 0.9;
  transition: 300ms;
}

/* -------------------------- ALGORITHM SECTION ----------------------------- */
#algorithm-section {
  display: flex;
  margin-bottom: 79px;
}

article {
  width: 60%;
}

article h2 {
  font-weight: 400;
  margin-bottom: 30px;
}

#algorithm-form {
  width: 40%;
  margin-left: 40px;
}

.radio-container {
  display: flex;
}
.radio-container div {
  display: flex;
  margin-right: 40px;
}
.radio-container div input{
  margin-right: 4px;
}

/* --------------------------- PRODUCTS SECTION ----------------------------- */


/* ---------------------------- SHARE SECTION ------------------------------- */
#share {
  padding-bottom: 70px;
}

#share-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.wrapper {
  display: flex;
  margin-bottom: 30px;
}

.wrapper div {
  margin-left: 40px;
}

/* --------------------------- FOOTER SECTION ------------------------------- */
footer {
  padding-top: 160px;
  padding-bottom: 86px;
}