#share-section {
  padding-bottom: 70px;
}

#share-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.share-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.share-form-wrapper div {
  margin-left: 40px;
}

/* --------------------------- MEDIA QUERIES -------------------------------- */
@media (max-width: 480px) {
  #share-section {
    margin-left: 10px;
    margin-right: 10px;
  }
  .share-form-wrapper div {
    margin-left: 0;
  }
}